body {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #ffd;
    font-family: Arial;
}

.cercle {
    /* flex-shrink: 0; */
    color: #fff;
    padding: 90px;
    width: 180px;
    height: 180px;
    margin-right: -25px;
    mix-blend-mode: multiply;
}

.c1 {
    background: #ffc30f;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
.c2 {
    background:#ff5733;
    border-radius: 71% 29% 25% 75% / 33% 25% 75% 67% ;
}

.c3 {
    background: #8d3758;
    border-radius: 57% 43% 84% 16% / 67% 50% 50% 33%  ;
}